body {
  font-family: "Inter", sans-serif;
  font-family: "Lobster", cursive;
  font-family: "Manrope", sans-serif;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
}
h1 {
  font-size: 65px;
  font-weight: 700;
  margin: 0;
}

.introduction {
  text-align: center;
  color: white;
}
.introduction p {
  font-size: 18px;
}
.link-button {
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  padding: 13px 30px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  background-color: #ff5959;
}
.top-heading {
  background-image: url(images/donation7.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken, luminosity;
  margin-bottom: 130px;
  display: flex;
  place-content: center;
  align-items: center;
}
h2 {
  font-size: 45px;
  font-weight: 700;
}
.donate-today {
  text-align: center;
  font-size: 18px;
}
.unselected-amount {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  width: 135px;
  height: 123px;
  padding: 20px;
  background-color: #f3eaea7e;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
}
#selected-amount {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  width: 135px;
  height: 123px;
  padding: 20px;
  background-color: #fce3e3;
  border: 2px solid #ff5959;
  border-radius: 5px;
  margin: 20px;
}

.flexible-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

input[type="text"] {
  border: 0px;
  background: transparent;
  font-size: 18px;
}
.input-are {
  text-align: center;
}
hr {
  margin-left: 200px;
  margin-right: 200px;
}
.donate-button2 {
  text-align: center;
  margin-bottom: 150px;
}
.donate-plan {
  text-align: center;
  font-size: 18px;
  margin-bottom: 90px;
}
.food-donate {
  text-align: center;
  width: 360px;
  height: 352px;
  padding: 20px;
  background: #eeb8999d;
  border-radius: 7px;
}
.food-donate .give-shelter .medical-help h3 {
  font-size: 24px;
}
.give-shelter {
  text-align: center;
  width: 360px;
  height: 352px;
  padding: 20px;
  background: #584f4f1a;
  border-radius: 7px;
  margin: 10px;
}
.medical-help {
  text-align: center;
  width: 360px;
  height: 352px;
  padding: 20px;
  background: #c3f3f8e5;
  border-radius: 7px;
}
.medical-help img {
  height: 15%;
  width: 15%;
}
.plans {
  margin-bottom: 100px;
}

.volunteer-area {
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 30px;
}
.volunteer-area img {
  margin-top: 100px;
  padding-left: 50px;
  border-radius: 30px;
  padding-right: 5px;
  border-radius: 30px;
}
.join h3 {
  font-size: 24px;
}
.join p {
  font-size: 20px;
}

.join {
  text-align: center;
  padding-top: 20px;
  justify-content: space-evenly;
  width: 70%;
  height: 600px;
  width: 600px;
  background-color: rgba(250, 250, 250, 0.699);
}

.our-updates {
  text-align: center;
  font-size: 18px;
  margin-bottom: 70px;
}
.input-email {
  text-align: center;
}
input[type="email"] {
  border: 0px;
  background: #d9d9d9;
  font-size: 18px;
  padding-left: 3%;
}
.subscribe-button {
  display: inline-block;
  padding: 8px 17px;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  color: white;
  font-weight: 400;
  background-color: #ff5959;
  margin-left: -4px;
}
.input-email {
  background-color: #fff4d6;
  padding: 90px 100px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 250px;
}

footer {
  height: 147px;
  width: 100%;
  background-color: black;
  padding-top: 25px;
  bottom: 0;
}
.footer-head {
  font-family: lobster;
  color: #ff5959;
  font-size: 24px;
  text-align: center;
}
.footer-body {
  text-align: center;
  font-size: 14px;
  font-family: manrope;
  color: rgba(219, 203, 203, 0.979);
}
