body {
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
}
h1 {
  font-size: 65px;
  font-weight: 700;
}

.introduction {
  text-align: center;
  color: white;
}
.introduction p {
  font-size: 18px;
}
.link-button {
  text-decoration: none;
  font-size: 20px;
  text-align:center;
  padding: 13px 30px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  background-color: #ff5959;
}
.top-heading {
  background-image: url(images/donation7.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken, luminosity;
  margin-bottom: 130px;
}
h2 {
  font-size: 45px;
  font-weight: 700;
}
.donate-today {
  text-align: center;
  font-size: 18px;
}
.unselected-amount {
  text-align:center;
  font-size: 30px;
  font-weight: 700;
  width: 135px;
  height: 123px;
  padding: 20px;
  background-color:#f3eaea7e;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
}
#selected-amount {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  width: 135px;
  height: 123px;
  padding: 20px;
  background-color: #fce3e3;
  border: 2px solid #ff5959;
  border-radius: 5px;
  margin: 20px;
}

.flexible-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-content: center;
  margin-bottom:50px;
}

input[type=text]
    {
  border: 0px;
  background: transparent;
  font-size: 18px;
}
.input-are{
  text-align: center;
}
hr{
  margin-left: 200px;
  margin-right: 200px;
}
.donate-button2{
  text-align: center;
  margin-bottom:150px;

}
.donate-plan{
  text-align: center;
  font-size: 18px;
  margin-bottom:80px;
}
.food-donate{
 text-align: center;
  width:360px;
  height:352px;
  padding: 20px;
  background: #eeb8999d;
  border-radius: 7px;
   }
   .food-donate .give-shelter .medical-help h3 {
    font-size:24px;
   }
   .give-shelter {
 text-align: center;
  width:360px;
  height:352px;
  padding: 20px;
  background:#584f4f1a;

  border-radius: 7px;
  margin:10px
   }
   .medical-help{
  text-align: center;
  width:360px;
  height:352px;
  padding: 20px;
  background: #c3f3f8e5;
  border-radius: 7px;
   }
   .medical-help img{
    height:15%;
    width:15%;
   }
   .plans{
    margin-bottom: 100px;
   }
   .our-updates{
    text-align:center;
    font-size: 18px;
    margin-bottom: 70px;
   }
   .input-email{
    text-align:center;
  
   }
   input[type=email]
    {
  border:0px;
  background:#D9D9D9;
  font-size: 18px;
  padding-left:3%;
}
.subscribe-button{
  text-decoration: none;
  font-size: 20px;
  text-align:center;
  padding: 2px 20px;
  color: white;
  font-weight: 400;
  background-color: #ff5959;
  margin-left:-2%;
}
.input-email{
  padding: 30px 50px;
}